/* stylesheet.css is a custom style sheet linked to index_accolades.html file */

.col-md-4 {
	text-align:center;
	position:relative;
}

.stl-post-dispatch {
	margin-left:20px;
}

.alive-mag {
	margin-top:20px;
	margin-left:60px;
}

.riverfront {
	margin-top:10px;
}

.stl-mag {
	margin-top:-30px;
	margin-left:30px;
}

.sauce-mag {
	margin-top:-70px;
	margin-left:40px;
}

