/* stylesheet.css is a custom style sheet linked to all .html files */

body {
	background-image:url(http://cdn.vectorstock.com/i/composite/86,33/carrot-seamless-pattern-background-vector-2008633.jpg);
}

.navbar-default .navbar-brand {
	color: black;
}

.navbar-default .navbar-nav>li>a {
color: black;
}

.navbar {
	background-color:yellowgreen;
	color:black;
}

.jumbotron {
	background-color:#FF8330

}

.h3 {
	text-align:center;
}


.socialmedia {
	text-align:center;
	position:relative;

}
